<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zjclugger.lib">

    <!-- 允许读取手机状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <!-- 允许程序访问Wi-Fi网络状态信息  -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!--允许程序改变Wi-Fi连接状态-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!--允许程序访问有关GSM网络信息-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--获取internet访问权限-->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- 允许程序写入外部存储 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!--允许一个程序写入但不读取所有者数据-->
    <uses-permission android:name="android.permission.WRITE_OWNER_DATA" />

    <!-- 设置系统声音权限 -->
    <!--<uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />-->

    <!-- 请求访问使用照相设备 -->
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- 摄像头 -->
    <!-- <uses-feature android:name="android.hardware.camera" />
     <uses-feature android:name="android.hardware.camera.autofocus" />-->

    <!-- 震动 -->
    <!-- <uses-permission android:name="android.permission.VIBRATE" />-->

    <!-- 视频插件对讲需要的权限 -->
    <!-- <uses-permission android:name="android.permission.RECORD_AUDIO" />-->

    <!-- GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!--用于申请调用A-GPS模块-->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <!--用于申请获取蓝牙信息进行室内定位-->
<!--    <uses-permission android:name="android.permission.BLUETOOTH" />
        <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />-->

</manifest>
